*
{
    font-family: awesome, sans-serif;
}

*{
    box-sizing:border-box ;
 }
  /*Nav  */
nav{
    border: 1px solid red;
    display: flex;align-items: center;
    justify-content: flex-end;
    flex-wrap:wrap;
}
nav a {
    padding: 2rem;
}
nav a:hover {
    border-top: 3px solid blue;
}
#logo{
    margin-right: auto;
    padding: 0 2rem;
}
.signup{
    color: black;
 }
 /* body */
 .wrapper
 {
     padding: 0 2rem;
 }
 .wrapper h1{
     font-size: medium;
 }
/* seearch form */
.search-form{
    display:flex ;
    
}
.search-form{
    margin: 0 1rem;
}
.search-form i{
    padding:  1rem;
    background-color:lightgrey;
    border-radius: 1rem 0 0 1rem ;
    margin-left: 1rem;
}
.search-form input{
    overflow: auto;
    padding-right: 0.5rem
    

}
.search-form input::placeholder{
    color:  black;
    font-weight: bold;
    flex-basis: 16rem;
    
}

.search-form button{
    background-color:blue;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 1rem;
    border: none;
    cursor: pointer;
}
.fa-solid.fa-money-bill-wave{
 color: blue;
 background-color: lightblue;
 padding: 1rem;
 border-radius: 50%;   
}
.filter {
border: 1px solid red;
}
.filter span{
    font-weight: bold;
}